@charset "utf-8";
/* CSS Document */

{
	margin:0;
	padding:0;
	border:0;
}

header{
		text-align: center;
		font-size: 1.5 em;
		font-weight: bold;
	   }

html{background-color:#F2F5A9;}

#image-color{background-color: #f68408;
			 border-bottom:2px;
			 border-bottom-color: black;
			 border-bottom-style: solid;}

.BMCC{padding-top: 50px;}

h1 {
	color: #585858;
	font-family: 'Raleway',sans-serif;
	font-size: 2em;
	font-weight: bolder;
	line-height: 50px;
	margin: 0 0 24px;
	text-transform: uppercase;
	padding-top:50px;
}
  
h2 { color: #084B8A; 
    font-family: 'Raleway',sans-serif; 
	font-size: 1.5em; 
	font-weight: lighter; 
	line-height: 36px;
	margin: 0 0 24px;
	text-transform: uppercase;
	text-align: center; 
	padding-top: 55px;
  }
  

h3 { color: #6E6E6E; 
    font-family: 'Raleway',sans-serif; 
	font-size: 1.250em; 
	font-weight: 600; 
	line-height: 36px;
	margin: 0 0 24px;
	text-align: center; 
  }

p , h4{color: #000; 
	   font-family: 'Raleway',sans-serif; 
	   font-size: 1em; 
	   font-weight: 500; 
	   line-height: 20px; 
	   margin: 0 0 24px; 
	   padding: 10px;
	  }

h4{font-weight: bolder;
   padding-top: 30px;}

.event{font-weight: bold;
	   color: #f68408;
	   padding-top: 30px;
	   padding-bottom: 10px;
	  }

address{padding-top: 20px;
		padding-bottom: 30px;
	    padding-right:50px;
	    padding-left: 50px;
	   }

.kaisar1, .kaisar2{text-align: center;
				   color: #f68408;
				   line-height: 1px;
				   }

.kaisar1{padding-left: 55px;}

	   
footer{
		text-align: center;
		font-size: 0.938 em;
		font-weight: bold;
		padding-top:50px;
	  }
			   
			   
