@charset "utf-8";
/* CSS Document */

{
	margin:0;
	padding:0;
	border:0;
}

header{
		text-align: center;
		font-size: 1.5 em;
		font-weight: bold;
	   }
	   
h1{
	font-family: arial, sans serif;
	font-size: 1.414 em;
	margin:20px;
  }
	   
p{
	font-family: times new roman, georgia, serif;
	font-size: 1em;
 }

 .opening, .session1, .session2, .lunch, .session3, .session4, .closing{
 																		border: 2px;
 																		border-color: black;
 																		border-style: dotted;
 																		padding: 10px;
 																		text-align: center;
 																		}
	   
footer{
		text-align: center;
		font-size: 1 em;
		font-weight: bold;
	  }
			   
			   
